{%- style -%}
  .section-legal-list {
    width: 100%;
    text-align: center;
  }

  .section-legal-list ul li a {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 990px) {
    .section-legal-list {
      display: none;
      visibility: hidden;
    }
  }
{%- endstyle -%}

<div class="section-legal-list">
  <ul class="list-menu list-menu--inline">
    <li>
      <a
        href="/policies/privacy-policy"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        {{ 'templates.legal-list.privacy-policy' | t }}
      </a>
    </li>
    <li>
      <a
        href="/policies/refund-policy"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        {{ 'templates.legal-list.refund-policy' | t }}
      </a>
    </li>
    <li>
      <a
        href="/policies/shipping-policy"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        {{ 'templates.legal-list.shipping-policy' | t }}
      </a>
    </li>
    <li>
      <a
        href="/policies/terms-of-service"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        {{ 'templates.legal-list.terms-of-service' | t }}
      </a>
    </li>
    <li>
      <a
        href="/pages/company-details"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        {{ 'templates.legal-list.company-details' | t }}
      </a>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "Legal",
  "class": "header-legal-list-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": []
}
{% endschema %}
